
.simon{
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
}

.buttonContainer{
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    transform: rotate(45deg);
}

.square{
    border-radius: 5px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .square{
        width: 100px;
        height: 100px;
    }
}
    

.square:active,
.active{
    filter: brightness(200%);
}

.red{
    background-color: #c72020;
}

.green{
    background-color: green;
}

.blue{
    background-color: #313191;
}

.yellow{
    background-color: #cece3a;
}

#startButton{
    margin-top: 5rem;
    width: 120px;
    height: 75px;
    border: none;
    font-family: 'Merriweather', serif; 
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: #5c5172;
    padding: 5px;
}

#startButton:hover{
    filter: brightness(125%);
}

#startButton:disabled{
    background-color: #9c9c9c;
}

.title{
    margin-bottom: 3.5rem;
}

.winner{
    animation: spin 1s ease-in-out;
}

@keyframes spin{
    100%{
        transform: rotate(180deg);
    }
}